libs/
out/
bin/
obj/

.idea

######################
# Eclipse
######################
project.properties
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Android specific
gen/**
*.dex

# Mac
.DS_Store